# Byte-compiled / optimized / DLL files
*__pycache__*
*.py[cod]
*.egg-info/

# C extensions
*.so

# Distribution / packaging
.Python
.eggs/

# DotEnv configuration
.env

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# nox directory
.nox/

# exclude data from source control by default
/data/
cts.csv
mris.csv
patients.csv
xrays.csv


# Mac OS-specific storage files
.DS_Store

# secret
.secret

# coverage report
.coverage

# Testing and automation temporary files
.tox
